.initial-card {
    /* border: 1px solid #868686; */
    width: 19rem;
    border-radius: 2rem;
    background: #1b1b1b;
    overflow: hidden;
    width: 30vw;
    /* margin: 3% 10% auto 10%; */
    /* margin-left: 10%; */
    height: 43vh;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    transition:  box-shadow 0.4s;
}

.initial-card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(13, 110, 253, 0.25);

}

.initial-card-title {
    /* border-bottom: 1px solid #868686; */
    height: 14vh;
    padding: 3vh 3vh;
    font-size: 6.3vh;
    color: #1b1b1b;
    background: #444444;
}

.initial-card-body {
    width: 100%;
    padding: 40px 30px;
    text-align: center;
    font-size: 2.7vh;
    color: #b9b9b9; 
    background: linear-gradient(#313131, #1b1b1b, #1b1b1b, #1b1b1b, #1b1b1b, #1b1b1b, #1b1b1b);
}

