.user-indicator-container {
    display: flex;
    flex-direction: row;
    z-index: 600;
    margin-left: auto;
    float: right;
    font-size: 1rem;
    font-weight: 300;
}

.logged-user {
    margin-top: -3px;
    color: #e9e9e9;
}

.user-icon {
    margin-right: 4px;
    width: 1.2rem;
    height: 1.2rem;
}